@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{   
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    width: 370px;
    padding: 20px;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 15px;
}

p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 15px;
}

.first-p{
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.second-p{
    font-size: 18px;
    color: hsl(220, 15%, 55%);
}